body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

button {
    background-color: gray;
    color: black;
    font-size: 40px;
    padding: 10px;
    border-radius: 6px;
    width: 75px;
    height: 75px;
    margin: 15px;
    cursor: pointer;
}

.number{
    background-color: gray;
}

.number:hover{
    background-color: palegreen;
}

.operator{
    background-color: blue;
}

.operator:hover{
    background-color: paleturquoise;
}

.decimal{
    background-color:  goldenrod;
}

.decimal:hover{
    background-color: palegoldenrod;
}

.equal{
    background-color:  pink;
}

.equal:hover{
    background-color: plum;
}

.clear{
    background-color: green;
}

.clear:hover{
    background-color: greenyellow;
}

.first-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.screen{
    width: 400px;
    height: 75px;
    border: 1px solid salmon;
    border-radius: 8px;
    margin: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    background-color: white;
}

.previous{
    font-size: 15px;
}

.current{
    font-size: 50px;
}

.clear-row{
    display: flex;
    justify-content: space-between;
}

.calculator{
    background-color: black;
    border-radius: 10px;
}